.Title {
    text-align: center;
    font-family: Arial;
    font-size: 30px;
    color: #ffffff;
    text-shadow: 0px 0px 9px #db940f;
}

.Text {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 100;
    color: #ffffff;
    text-shadow: 0px 0px 9px #db940f;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 20px;
    width: 7rem;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: 'Click';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.divContainer {
    background-color: #363535;
    /* background: url('./446441.jpg'); */
    width: 600px;
    height: auto;
    border-radius: 5%;
    border: 2px solid #FF8C00;
    position: relative;
    /* margin-left: 550px; */
    margin-top: 130px;
}



.backGround{
    background: url('446441.jpg');
    background-position-y: -90px;
    background-size: cover;
    background-repeat: no-repeat;
    position:absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

}




.buttonX {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 20px;
    width: 90px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    display: flex;
}

.buttonX span {
    cursor: pointer;
    position: relative;
    transition: 0.5s;
}

.buttonX span:after {
    content: 'Click';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.buttonX:hover span {
    padding-right: 25px;
}

.buttonX:hover span:after {
    opacity: 1;
    right: 0;
}

.firstColumn {
    /* background-color: greenyellow; */
    height: 12rem;
    display: flex;
    flex-direction: column;
    width: 75%;
    justify-content: space-around;
}

.divCardContainer {
    /* background-color: blue; */
    display: flex;
    justify-content: flex-end;
}

.divContainerAll {
    /* background-color: green; */
    display: flex;
    justify-content: space-around;

}

.divPadre {
    /* background-color: red; */
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.divHijo1 {
    /* background-color: yellow; */
    width: 40%;
}
.divHijo2 {
    /* background-color: purple !important; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.divHijo3 {
    width: 100px;
    height: 120px;
    background-color: rgba(128, 43, 145, 0.695);
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.divButton {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
}