.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 20px;
    width: 7rem;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: 'Click';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.Title {
    text-align: center;
    font-family: Arial;
    font-size: 30px;
    color: #ffffff;
    text-shadow: 0px 0px 9px #db940f;
}

.divContainer {
    background: url('https://images4.alphacoders.com/699/699112.jpg') ;
    
    width: 100vw;
    height: 100vh;
    /* border-radius: 5%;
    border: 2px solid #FF8C00;
    position: relative; */
    /* margin-left: 550px;
    /* margin-top: 130px; */
}